<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>
<body>
    <h3>Simple Payment with yenepay using express</h3>
    <form action="https://test.yenepay.com/" method="POST">
        {% csrf_token %}
        {% for x, y in obj.items %}
            <input type="hidden" name="{{ x }}" value="{{ y }}">
        {% endfor %}
        10.0 ETB
        <input type="submit" value="Pay with yenepay">
    </form>
</body>
</html>